<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SafeYou"
        tools:targetApi="31">
        <activity
            android:name=".Update_User_Info_Page"
            android:exported="false" />
        <activity
            android:name=".Create_New_User_Info_Page"
            android:exported="false" />
        <activity
            android:name=".Payment_Gateway_Page"
            android:exported="false" />
        <activity
            android:name=".Product_Revolar_Page"
            android:exported="false" />
        <activity
            android:name=".Product_Sound_Grenade_Ealarm_Page"
            android:exported="false" />
        <activity
            android:name=".Product_Safety_Torch_Page"
            android:exported="false" />
        <activity
            android:name=".Product_Alarm_Wristlet_Page"
            android:exported="false" />
        <activity
            android:name=".Product_Safety_Rod_Page"
            android:exported="false" />
        <activity
            android:name=".Product_Safer_Smart_Pendant_Page"
            android:exported="false" />
        <activity
            android:name=".Product_Pepper_Spray_Pistol_Page"
            android:exported="false" />
        <activity
            android:name=".Product_Safelet_Page"
            android:exported="false" />
        <activity
            android:name=".Self_Defence_Tips_Page"
            android:exported="false" />
        <activity
            android:name=".About_Us_Page"
            android:exported="false" />
        <activity
            android:name=".Safety_Products_Page"
            android:exported="false" />
        <activity
            android:name=".Quick_Contacts_Page"
            android:exported="false" />
        <activity
            android:name=".User_Profile_Page"
            android:exported="false" />
        <activity
            android:name=".SafetyPlaces_Page"
            android:exported="false" />
        <activity
            android:name=".Login_Page"
            android:exported="true" />
        <activity
            android:name=".Forgot_Password_Page"
            android:exported="false" />
        <activity
            android:name=".Sign_Up_Page"
            android:exported="false" />
        <activity
            android:name=".Welcome_Splash_Screen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>